body{
	background: ;
}

#imgc{
	height: 500px;
	width: 500px;
}

#txtc{
	width:500px;
	height:100px;
}

#boneclick{
	width: 240px;
	height: auto;
	padding:5px;
	display: inline;
} 
#btwoclick{
	width: 240px;
	height: auto;
	padding:5px;
	display: inline;
}

#buttonone{
	height: 400px;
	width: 230px;
	background-image: url(buttonone.jpg);
	z-index: 1;
	display: inline;

}/*
#buttonone:hover{
	background-image: url(buttononehover.jpg);
	z-index:2;
}*/

#buttontwo{
	height: 400px;
	width: 230px;
	background-image: url(buttontwo.jpg);
	z-index: 1;
	display:inline;
}/*
#buttontwo:hover{
	background-image: url(buttontwohover.jpg);
	z-index:2;
}*/

#bonec{
	padding: 5px;
	z-index: 3;
	display:inline;
	width: 230px;
	height: 400px;
}

#btwoc{
	padding: 5px;
	z-index: 3;
	display:inline;
	width: 230px;
	height: 400px;
}
